*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #F4F4F4;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container{
    margin-top: 5vh;
    width: 30vw;
    height: 85vh;
    background: white;
    -moz-box-shadow:    3px 3px 15px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

.card-container:hover{
        cursor: pointer;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        /* .card-image {
          opacity: 1;
        } */
}

.card-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #7FC0FC;
}

#dog{
    width: 33vw;
    height: 30vh;
}

#left-icon{
    margin-left: -23vw;
    margin-top: 3vh;
}

.discriptions{
    margin-top: 4.3vh;
    margin-left: 3.5vw;
    margin-right: 3vw;
}

.title{
    /* color: #797979; */
    font-size: 3.8vh;
}

.row-texts{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2vw;
}

.breed,.size,.age{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #797979;
}

.breed{
    padding-right: 1.2vw;
    border-right: 2px solid #ccc;
}

.size{
    padding-right: 1.2vw;
    padding-left: 1.2vw;
    border-right: 2px solid #ccc;
}

.age{
    padding-left: 1.2vw;
}

.bolder-texts{
    font-weight: 600; 
    color: black; 
}

.border{
    margin-top: 1.3vh;
    box-shadow: 0.8px 0.8px 0.8px 0.8px #ccc; 
}

.about{
    margin-top: 5vh;
}

.footer{
    margin-top: 3vh;
}

.footer-border{
    box-shadow: 1px 4px 4px 0.8px #9ECCF3;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 2.5vh;
    color: #0b87fa;
}

.footer-text{
    font-weight: 800; 
    font-size: 1.4vw;
}

#right-icon{
    padding: 0px 2.5vw 0px 1.5vw;
}

/* CSS Rules for Media Queries*/

/* for mobile devices*/
@media only screen and (max-width:400px){
    .card-container{
        width: 70vw;
        height: 90vh;
    }

    #dog{
        width: 80vw;
        height: 33vh;
    }

    #left-icon{
        margin-left: -55vw;
        margin-top: 3vh;
    }

    .about{
        margin-top: 5vh;
        font-size: 5vw;
    }

    .row-texts{
        font-size: 3vw;
    }

    .discriptions{
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .breed,.size{
        padding-right: 2vw;
    }

    .footer-text{
        font-weight: 800; 
        font-size: 3.5vw;
    }

    .footer-nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 3vh;
        color: #0b87fa;
    }
    
    .footer-nav{
        padding-top: 2.3vh;
    }

    #right-icon{
        width: 12vw;;
    }
}


/* for bigger phones and tablets*/
@media only screen and (min-width:401px) and (max-width:750px){
    .card-container{
        width: 90vw;
        height: 90vh;
    }

    #dog{
        width: 80vw;
        height: 33vh;
    }

    #left-icon{
        margin-left: -70vw;
        margin-top: 3vh;
    }

    .about{
        margin-top: 5vh;
        font-size: 5vw;
    }

    .row-texts{
        font-size: 3vw;
    }

    .discriptions{
        margin-left: 7.5vw;
        margin-right: 7.5vw;
    }

    .breed,.size{
        padding-right: 4vw;
    }

    .footer-text{
        font-weight: 800; 
        font-size: 3.5vw;
    }

    .footer-nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 4vh;
        color: #0b87fa;
    }
    
    .footer-nav{
        padding-top: 4vh;
    }

    #right-icon{
        width: 12vw;;
    }

    .title{
        font-size: 3vh;
    }
}

@media only screen and (min-width:768px) and (max-width: 960px), (width:1024px){
    .card-container{
        width: 65vw;
        height: 90vh;
    }

    #dog{
        width: 80vw;
        height: 30vh;
    }

     #left-icon{
        margin-left: -55vw;
        margin-top: 3vh;
    }

    .about{
        margin-top: 5vh;
        font-size: 4vw;
    }

    .row-texts{
        font-size: 3vw;
    }

    .discriptions{
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .breed,.size{
        padding-right: 2vw;
    }

    .footer-text{
        font-weight: 800; 
        font-size: 2vw;
}